/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #355c79 !important;
  --toolbarbutton-icon-fill: #a4cbed !important;
  --toolbar-field-color: #e2e2e5 !important;
  --tab-selected-textcolor: #a4cbed !important;
  --toolbar-color: #e2e2e5 !important;
  --arrowpanel-color: #e2e2e5 !important;
  --arrowpanel-background: #1e2022 !important;
  --sidebar-text-color: #e2e2e5 !important;
  --zen-main-browser-background: #121416 !important;
  --zen-main-browser-background-toolbar: #121416 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #121416 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #121416 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1e2022 !important;
}

#zen-workspaces-button {
  background-color: #1e2022 !important;
}

#TabsToolbar {
  background-color: #121416 !important;
}

.urlbar-background {
  background-color: #1e2022 !important;
}

.urlbar-input::selection {
  color: #02344f !important;
  background-color: #a4cbed !important;
}

.urlbarView-url {
  color: #c2c7ce !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #a4cbed
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #bcdfff !important;
  --identity-icon-color: #bcdfff !important;
}

.identity-color-turquoise {
  --identity-tab-color: #a4cbed !important;
  --identity-icon-color: #a4cbed !important;
}

.identity-color-green {
  --identity-tab-color: #a5ffb1 !important;
  --identity-icon-color: #a5ffb1 !important;
}

.identity-color-yellow {
  --identity-tab-color: #fffaa5 !important;
  --identity-icon-color: #fffaa5 !important;
}

.identity-color-orange {
  --identity-tab-color: #fff772 !important;
  --identity-icon-color: #fff772 !important;
}

.identity-color-red {
  --identity-tab-color: #ff9fbc !important;
  --identity-icon-color: #ff9fbc !important;
}

.identity-color-pink {
  --identity-tab-color: #c8e5ff !important;
  --identity-icon-color: #c8e5ff !important;
}

.identity-color-purple {
  --identity-tab-color: #2f506d !important;
  --identity-icon-color: #2f506d !important;
}

#zen-appcontent-navbar-container {
  background-color: #121416 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #a4cbed !important;
  color: #a4cbed !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #a4cbed !important;
  color: #a4cbed !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #a4cbed !important;
}
