prefer-no-csd

input {
    focus-follows-mouse max-scroll-amount="0%"
}

workspace "1" {
    open-on-output "DP-1"
}
workspace "2" {
    open-on-output "DP-1"
}
workspace "3" {
    open-on-output "DP-1"
}
workspace "4" {
    open-on-output "DP-1"
}

workspace "5" {
    open-on-output "DP-2"
}
workspace "6" {
    open-on-output "DP-2"
}
workspace "7" {
    open-on-output "DP-2"
}
workspace "8" {
    open-on-output "DP-2"
}
workspace "9" {
    open-on-output "DP-2"
}

include "dms/alttab.kdl"
include "dms/binds.kdl"
include optional=true "dms/colors.kdl"
include optional=true  "dms/cursor.kdl"
include "dms/input.kdl"
include "dms/layout.kdl"
include "dms/outputs.kdl"
include "dms/windowrules.kdl"
include "dms/wpblur.kdl"
