input {
    keyboard {
        repeat-delay 400
        repeat-rate 35
        xkb {
        }
    }

    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
    }

    trackpoint {
    }
    focus-follows-mouse max-scroll-amount="10%"
}
