[Unit]
Description=Idle management daemon for Wayland (swayidle)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w \
  timeout 300 'niri msg output DP-1 off; niri msg output DP-2 off' \
  resume 'niri msg output DP-1 on; niri msg output DP-2 on'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
